<html>
  <head>
    <title>React pdf generation</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.1/dist/FileSaver.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
  <script type="text/babel">
    class App extends React.Component {
      state = {
        title: "Untitled document",
        chartValue: 50,
      }
      onChange = ({ target: { value, name }}) => this.setState({ [name]: value })
      generatePdf = async (e, f) => {
        e.preventDefault();
        const response = await axios.post("/generate-pdf", this.state, { responseType: 'blob'});
        let filename = this.state.title;
        await saveAs(response.data, (filename || "untitled document") + ".pdf");
      }

      render() {
        const { title, chartValue } = this.state;
        return (
          <div>
            <h1>PDF generation</h1>
            <form onSubmit={this.generatePdf}>
              <fieldset>
                <input type="text" value={title} name="title" onChange={this.onChange}/>
                <input type="number" value={chartValue} name="chartValue" onChange={this.onChange}/>
                <button>Generate</button>
              </fieldset>
            </form>
          </div>
        );
      }
    }
    ReactDOM.render(
      <App />,
      document.getElementById("root"),
    );
  </script>

</html>